<main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
      	<div class="blog-post">
  			<h2 class="blog-post-title"><%= @blog.title %></h2>
			<p class="blog-post-meta"><%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin)%></p>
			<p><%= @blog.body %></p>
		</div>
		<% unless current_user.is_a? GuestUser%>
		  <%= form_for @comment, url: '#' do |f| %>
		  	<div class="form-group">
		  		<%= f.label :content %>
		  		<%= f.text_area :content, class: "form-control" %>
		  	</div>
		  		<%= f.submit "post", class: "btn btn-primary" %>
		  		<br>
		  <% end %>
		<% end %>
	  </div>
	  <%= render "shared/blog_sidebar" %>
	</div>
</main>



