<main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
      	<div class="blog-post">
  			<h2 class="blog-post-title"><%= @blog.title %></h2>
  			<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
  	<li class="breadcrumb-item"><%= link_to "Home",root_path  %></li>
    <li class="breadcrumb-item"><%= link_to Blog, blogs_path %></li>
    <li class="breadcrumb-item"><%= link_to @blog.topic.title, topic_path(@blog.topic)  %> </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @blog.slug %></li>
	
	<%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog), class:"ml-auto" if logged_in?(:site_admin) %>
	<%= link_to fa_icon('trash'), blog_path(@blog), method: :delete, data: {confirm: "Are you sure?"}, class:"ml-auto" if logged_in?(:site_admin) %>

  </ol>
  
</nav>
  			<p><%= link_to @blog.topic.title, topic_path(@blog.topic) %></p>
			<p class="blog-post-meta"><%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin)%> | <%= link_to "Topics", topics_path %></p>
			<p><%= markdown @blog.body %></p>
		</div>
		<%= render '/comments/comment_form' %>
		<div id="comments" data-blog-id= "<%= @blog.id %>">
			<%= render @blog.comments %>
		</div>
	  </div>
	  <%= render "shared/blog_sidebar" %>
	</div>
</main>



