<aside class="col-md-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Thoughts and jottings on various things related to programming, journalism, and content marketing. Plus anything else that springs to mind!</p>
  </div>

  
  <%= source_helper("alert alert-primary") %>



  <div class="p-3">
    <h4 class="font-italic">Topics</h4>
      <% @sidebar_topics.each do |topic| %>
        <p><%= link_to topic.title, topic_path(topic)  %></p>
      <% end %>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Social Platforms</h4>
    <ol class="list-unstyled social-icons">
      <li><a href="https://github.com/jimboqu"><%= fa_icon "github" %></a></li>
      <li><a href="https://twitter.com/james_quilter"><%= fa_icon "twitter" %></a></li>
      <li>Better still! <a href="https://twitter.com/jimboqu"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.linkedin.com/in/jamesquilter/"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</aside>