<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- add in description -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49930072-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-49930072-2');
    </script>
  </head>
  <body class="text-center">
    
    
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <%= video_tag(
                'hal.mp4',
                id: 'background',
                autoplay: true,
                loop: true,
                muted: true,
                poster: 'overhead.jpg'
              )
              %>
    <%= render 'shared/application_nav' %>
    
    <%= yield %>

    
    <%= render 'shared/alerts' %>
    <%= render 'shared/application_footer' %>
    
  </div>
  </body>
</html>
