<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> | Blog</title>
    <meta name="description" content="Blog for James Quilter, content strategist and developer.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127200578-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127200578-1');
    </script>
  </head>

  <body>

    <div class="container">
      
      <%= render 'shared/blog_nav' %>
  

      <%= yield %>
      <br>
      <%= render 'shared/blog_footer' %>
    
      <%= render 'shared/alerts' %>
      <%= source_helper("blog") %>

    </div>
  </body>
</html>
