<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag    'folios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49930072-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-49930072-2');
    </script>
  </head>

  <body>
    <%= render 'shared/folio_nav' %>
    <main role="main">
      <%= render 'shared/folio_jumbo' unless logged_in?(:site_admin)%> 
      <%= yield %>
    </main>
    <%= render 'shared/folio_footer' %>
    <%= render 'shared/alerts' %>
    <%= source_helper("folio") %>
  </body>
</html>
