<div class="row">
  <div class="col-md-6">
    <div class="form-group">
    <%= form_for @folio_item do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title, class: "form-control" %>
  </div>
    <div class="form-group">
        <%= f.label :subtitle %>:
        <%= f.text_field :subtitle, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
    <%= f.label :body %>:
    <%= f.text_area :body, class: "form-control", rows: 10 %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Tech used</h2>
    <ul>
      <%= f.fields_for :technologies do |tech| %>
      <div class="form-group">
      <%= tech.label :name %>:
      <%= tech.text_field :name, class: "form-control" %>
      </div>
      <% end %>
    </ul>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


  


