<h1>Edit Folio</h1>

<%= form_for @folio_item do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :subtitle %>:
  <%= f.text_field :subtitle %><br />

  <%= f.label :body %>:
  <%= f.text_field :body %><br />

  <%= f.submit %>
<% end %>