
<div class="container  portfolio-container">
	<div class="row">
		<div class="col-md-7">
			<%= image_tag @folio_item.main_image.url, alt: "@folio_item.title ", width: '100%' %>
		</div>
		<div class="col-md-5">
			<h1><%= @folio_item.title %></h1>
			<h2><%= @folio_item.subtitle %></h2>
			<p><%= @folio_item.body %></p>
			<h3>Requirements</h3>
			<% @folio_item.technologies.each do |tech| %>
				<p><%= tech.name %></p>
			<% end %>
			<%= link_to "View all folio items", folios_path  %>
			| <%= link_to "Delete item", folio_path, method: :delete if logged_in?(:site_admin)  %>| <%= link_to "Edit Folio item", edit_folio_path(@folio_item), data: { turbolinks: false } if logged_in?(:site_admin)  %></p>
		</div>
		
			
		</div>
		
	</div>
	
</div>






<br>




